# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
main

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Coverage
coverage.txt

# Environment
env.sh

# Python things
*ipynb*
**/__pycache__
venv
db.sqlite3
.mypy_cache

# JS things
node_modules
